<style>
    .upload {
        display: none;
    }
    .layui-table-box, .layui-table-page {
        background-color: white;
    }
</style>

<div class="padhead" style="margin: 2%;">
    <span class="layui-breadcrumb" lay-separator=">">
        <a href="/Home/Blank">基本信息管理</a>
        <a><cite>员工基本信息管理</cite></a>
    </span>
</div>
<div class="layui-form" style="margin: 3%;">
    用户账号:
    <div class="layui-inline">
        <input class="layui-input" name="EmpBasicInfoCode" id="EmpBasicInfoCode" autocomplete="off">
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    是否离职:
    <div class="layui-inline">
        <div>
            <select id="Dimission">
                <option value="">请选择</option>
                <option value="false">在职</option>
                <option value="true">离职</option>
            </select>
        </div>
    </div>
    &nbsp;&nbsp;
    <button class="layui-btn layui-bg-blue" data-type="reload" lay-on="EmpBasicInfoSearch"><i class="layui-icon layui-icon-search"></i>&nbsp;查询</button>
    &nbsp;&nbsp;
    <button class="layui-btn" data-type="reload" lay-on="EmpBasicInfoAdd"><i class="layui-icon layui-icon-add-1"></i>&nbsp;添加</button>
    &nbsp;&nbsp;
    <button class="layui-btn layui-btn-warm layui-btn-radius" lay-on="EmpBasicInfoBatchDel"><i class="layui-icon layui-icon-delete"></i>批量删除</button>
    &nbsp;&nbsp;
    <button class="layui-btn layui-btn-radius" lay-on="EmpBasicInfoDerive"><i class="layui-icon layui-icon-export"></i>导出</button>
    &nbsp;&nbsp;
    <button class="layui-btn layui-btn-radius" lay-on="EmpBasicInfoLead"><i class="layui-icon layui-icon-upload"></i>导入</button>
</div>
<div style="margin: 2%;">
    <table class="layui-hide" id="ID-table-demo-templet" lay-filter="user"></table>
</div>

<div class="upload">
    <fieldset class="layui-elem-field">
        <legend>下载模板</legend>
        <div class="layui-field-box" style="text-align:center">
            <a href="~/Content/upload/员工基本信息表.xls" style="color:red;font-weight:bold">员工基本信息表.xls</a>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field">
        <legend>上传文件</legend>
        <div class="layui-field-box">
            <div class="layui-upload-drag" style="display: block;" id="ID-upload-demo-drag">
                <i class="layui-icon layui-icon-upload"></i>
                <div>点击上传，或将文件拖拽到此处</div>
                <div class="layui-hide" id="ID-upload-demo-preview">
                    <hr> <img src="" alt="上传成功后渲染" style="max-width: 100%">
                </div>
            </div>
        </div>
    </fieldset>
    <table class="layui-hide" id="importdata"></table>
    <table class="layui-hide" id="importErrordata"></table>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    var globalData;
    layui.use(['table','upload'], function () {
        var table = layui.table;
        var util = layui.util;
        var $ = layui.jquery;
        var upload = layui.upload;

        // 创建渲染实例
        table.render({
            elem: '#ID-table-demo-templet',
            url: '/EmpBasicInfo/GetData', // 此处为静态模拟数据，实际使用时需换成真实接口
            page: true,
            height: '470px',
            cols: [[
                { type: 'checkbox', fixed: 'left' },
                { type: 'numbers', fixed: 'left', title: '序号' },
                // 未自定义模板的普通列
                { field: 'UserCode', width: 150, fixed: 'left', title: '用户账号' },
                // 模板 - 选择器写法
                { field: 'UserName', width: 150, fixed: 'left', title: '用户姓名', templet: '#ID-table-demo-templet-user' },
                // 模板 - 函数写法0
                {
                    field: 'sex', width: 60, title: '性别', templet: function (d) {
                        if (d.sex == 0 || d.sex == null) {
                            return '<span style="color: blue;font-weight: bold">男♂</span>';
                        } else {
                            return '<span style="color: pink;font-weight: bold">女♀</span>';
                        }
                    }
                },
                { field: 'IDCard', width: 150, title: '出生年月' },
                { field: 'Native', width: 200, title: '籍贯' },
                { field: 'Email', width: 200, title: '邮箱' },
                { field: 'TelPhone', width: 200, title: '电话' },
                {
                    field: 'Dimission', width: 120, title: '是否离职', templet: function (d) {
                        if (d.Dimission == false || d.Dimission == null) {
                            return '在职';
                        } else {
                            return '离职';
                        }
                    }
                },
                {
                    field: 'CreateDate', width: 150, title: '创建时间', templet: function (d) {
                        var date = FormDateStringFun(d.CreateDate);
                        return util.toDateString(date, 'yyyy-MM-dd');
                    }
                },
                { field: 'job', width: 150, title: '所属职位' },
                { field: 'structure', width: 150, title: '所属机构' },
                { fixed: "right", title: "操作", width: 15, minWidth: 120, align: "center", toolbar: "#barDemo" }
            ]]
        });

        // 导入
        upload.render({
            elem: '#ID-upload-demo-drag',
            url: '/EmpBasicInfo/DataImport', // 实际使用时改成您自己的上传接口即可。
            accept: 'file',
            done: function (res) {
                if (res.code == 0) {
                    layer.msg(res.msg, { icon: 6, time: 2000 }, function () {
                        $(".importdata").show();
                        $(".importErrordata").hide();

                        table.render({
                            elem: '#importdata'
                            , height: 300
                            , limit: 10
                            , data: res.data
                            , page: true
                            , cols: [[
                                { type: 'checkbox', fixed: 'left' },
                                { type: 'numbers', title: '序号' },
                                { field: 'UserCode', width: 150, title: '用户账号' },
                                { field: 'UserName', width: 150, title: '用户姓名' },
                                {
                                    field: 'sex', width: 60, title: '性别', templet: function (d) {
                                        if (d.sex == 0) {
                                            return '<span style="color: blue;font-weight: bold">男♂</span>';
                                        } else {
                                            return '<span style="color: pink;font-weight: bold">女♀</span>';
                                        }
                                    }
                                },
                                { field: 'Remark', width: '40%', title: '导入结果' }
                            ]]
                        });
                    })
                } else {
                    layer.msg(res.msg, { icon: 5, time: 1000 }, function () {
                        $(".importdata").hide();
                        $(".importErrordata").show();

                        table.render({
                            elem: '#importErrordata'
                            , height: 300
                            , limit: 10
                            , data: res.data
                            , page: true
                            , cols: [[
                                { type: 'checkbox', fixed: 'left', width: '5%' }
                                , { type: 'numbers', title: '序号', fixed: 'left', width: '5%' }
                                , { field: 'RowNumber', width: '45%', title: '数据行' }
                                , { field: 'Msg', width: '45%', title: '报错问题' }
                            ]]
                        })
                    })
                }
            }
        });

        util.on('lay-on', {
            'EmpBasicInfoAdd': function () {
                globalData = null;
                layer.open({
                    type: 2, // page 层类型
                    area: ['740px', '630px'],
                    title: '新增用户',
                    shade: 0.6, // 遮罩透明度
                    shadeClose: true, // 点击遮罩区域，关闭弹层
                    /*maxmin: true,*/ // 允许全屏最小化
                    anim: 0, // 0-6 的动画形式，-1 不开启
                    content: '/EmpBasicInfo/AddorEditPage',
                    end: function () {
                        table.reload('ID-table-demo-templet');
                    }
                });
            },
            'EmpBasicInfoSearch': function () {
                table.reload('ID-table-demo-templet', {
                    where: {
                        EmpBasicInfoCode: $("#EmpBasicInfoCode").val(),
                        Dimission: $("#Dimission").val()
                    }
                })
                //table.reloadData('table_job', {
                //    url: "/job/jobsearchbase?jobname=" + name + "&jobcode=" + code
                //});
            },
            'EmpBasicInfoBatchDel': function () {
                var strIds = [];
                var checkStatus = table.checkStatus("ID-table-demo-templet");
                var data = checkStatus.data;
                if (data.length == 0) {
                    layer.msg("最少选择一行数据", { icon: 5, time: 1000 });
                } else {
                    for (var i = 0; i < data.length; i++) {
                        strIds.push(data[i].id);
                    }
                    $.ajax({
                        url: "/EmpBasicInfo/BatchDelBase",
                        type: "post",
                        data: { strIds: strIds.join(",") },
                        success: function (res) {
                            if (res.code == 0) {
                                layer.msg(res.msg, { icon: 1, time: 1000 }, function () {
                                    layer.closeAll();
                                    table.reload("ID-table-demo-templet");
                                })
                            } else {
                                layer.msg(res.msg, { icon: 2, time: 1000 });
                            }
                        }
                    })
                }
            },
            'EmpBasicInfoDerive': function () {
                var url = '@Url.Action("DeriveBase", "EmpBasicInfo")';
                window.location.href = url;
            },
            'EmpBasicInfoLead': function () {
                layer.open({
                    type: 1, // page 层类型
                    area: ['760px', '650px'],
                    title: '导入员工基本信息',
                    shade: 0.6, // 遮罩透明度
                    shadeClose: true, // 点击遮罩区域，关闭弹层
                    /*maxmin: true,*/ // 允许全屏最小化
                    anim: 0, // 0-6 的动画形式，-1 不开启
                    content: $(".upload"),
                    end: function () {
                        table.reload('ID-table-demo-templet');
                        $(".upload").hide();
                    }
                });
            }
        });

        table.on('tool(user)', function (obj) {
            var data = obj.data;
            console.log(data);
            if (obj.event === 'del') {
                layer.confirm('真的删除么', function (index) {
                    $.ajax({
                        url: "/EmpBasicInfo/DelBase",
                        type: "post",
                        data: { ID: data.ID },
                        success: function (res) {
                            if (res.code == 0) {
                                layer.msg(res.msg, { icon: 1, time: 1000 }, function () {
                                    layer.close(index);
                                    table.reload('ID-table-demo-templet');
                                })
                            } else {
                                layer.msg(res.msg, { icon: 2, time: 1000 })
                            }
                        }
                    })
                });
            } else if (obj.event === 'edit') {
                globalData = data;
                layer.open({
                    type: 2, // page 层类型
                    area: ['740px', '630px'],
                    title: '修改职位',
                    shade: 0.6, // 遮罩透明度
                    shadeClose: true, // 点击遮罩区域，关闭弹层
                    /*maxmin: true,*/ // 允许全屏最小化
                    anim: 0, // 0-6 的动画形式，-1 不开启
                    content: '/EmpBasicInfo/AddorEditPage',
                    end: function () {
                        table.reload('ID-table-demo-templet');

                    }
                });
            }

        });
    });
</script>